<div class="maincontainer-SignUp">
    <img id="joinLogo-SignUp" src="assets/img/join-logo.png" alt="">
    <div id="signUp-container" class="signUp-container">
        <img onclick="closeSignUpOpenLogin()" id="backArrowSignUp" src="assets/img/back-arrow.svg">
        <h1>Sign up</h1>
        <img src="assets/img/blue_underline.png" id="blue_underline">
        <form class="SignUpCredentials" onsubmit="register(); return false">
            <input id="name" type="text" name="name" placeholder="Name"
                pattern="([a-zA-ZäöüÄÖÜß]+\s+){1,10}([a-zA-ZäöüÄÖÜß]+)" title="Vor- und Nachname sind einzugeben!"
                required>
            <input id="email" name="email" type="email" autocomplete="email" placeholder="Email"
                pattern="[a-zA-Z0-9\-]+@[a-zA-Z\-]+\.[a-zA-Z]{2,3}"
                title="Gib eine gültige E-Mail-Adresse ein! Umlaute sind nicht erlaubt!" required>
            <input id="password" type="password" name="password" autocomplete="new-password" placeholder="Password"
                required>
            <button class="signUp_button" id="signUp_button">Sign up</button>
        </form>
    </div>
</div>